{{!-- Layouts --}}
{{!< default}}

{{#contentFor "mapache_class_body"}}is-home-mode{{/contentFor}}
{{#contentFor "mapache_class_site_main"}}pb4{{/contentFor}}

<div>
    <div class="col s12">
        <center>
            <img src="{{img_url @site.logo size="s"}}" class="home-logo" style="max-width: 150px" alt="{{@site.title}}"/>
            {{!-- <h4 style="text-transform: lowercase;">Asia's unheard stories of those under strife with <em style="color: #fecd35;">powerful sound design. </em></h4>  <br> --}}
        </center>
    </div>
</div>

{{!-- Featured Post --}}
<div class="post-fluid fashion-featured h-cover u-marginAuto u-marginBottom20 u-clear">

    {{#get "posts" limit="1" filter="featured:true" as |post_featured|}}
    {{#foreach post_featured}}

        <article class="h-cover-items u-relative u-floatLeft {{#if @first}}firts{{/if}}">
            <div class="h-cover-inner u-relative u-bgDark u-overflowHidden">
                {{!-- Imagenes --}}
                {{#if feature_image}}
                    <a class="image-hover" href="{{url}}">
                        <img class="h-cover-img u-absolute0 u-image u-block lazyload blur-up"
                            src="{{img_url feature_image size="m"}}"
                            srcset="{{img_url feature_image size="xxs"}}"
                            data-srcset="{{img_url feature_image size="s"}} 300w, {{img_url feature_image size="m"}} 600w, {{img_url feature_image size="l"}} 1000w"
                            data-sizes="(max-width: 1000px) 400px, 700px"
                            alt="{{title}}"
                        />
                    </a>
                {{/if}}

                <header class="h-cover-header u-absolute zindex2">
                    <h2 class="h-cover-title u-lineHeightTight u-fontWeightMedium {{#unless @first}}u-fontSizeLarge{{/unless}}">
                        <a class="u-block" href="{{url}}">{{title}}</a>
                    </h2>
                    {{#if @first}}<p class="h-cover-excerpt u-paddingTop10 u-fontSizeBase u-hide-before-md">{{excerpt words="10"}}</p>{{/if}}
                </header>
            </div>
        </article>

    {{/foreach}}
    {{/get}}

    <h2 style="color:#fecd35; text-transform: lowercase; text-align:center;">our shows</h2> 
    <article class="h-cover-items u-relative u-floatLeft">
            <div class="h-cover-inner u-relative u-overflowHidden">

                <a class="image-hover" href="/asiainstrife">
                    <img src="assets/images/Logo_Colour.jpg" class="h-cover-img u-absolute0 u-block lazyload blur-up show_img">
                </a>
                <header class="h-cover-header u-absolute zindex2"> 
                    <h4 class="h-cover-title u-lineHeightTight u-fontWeightMedium" style="color:#fecd35;">Listen Now</h4>
                </header>
                    
            </div>
    </article>

     {{!-- <article class="h-cover-items u-relative u-floatLeft">
            <div class="h-cover-inner u-relative u-overflowHidden">

                <a class="image-hover" href="{{url}}">
                    <img src="https://via.placeholder.com/300" class="h-cover-img u-absolute0 u-block lazyload blur-up show_img">
                </a>
                <header class="h-cover-header u-absolute zindex2"> 
                    <h2 class="h-cover-title u-lineHeightTight u-fontWeightMedium">Listen Now</h2>
                </header>
                    
            </div>
    </article> --}}

    
</div>

{{!-- Latest Post --}}
<section class="post-fluid u-container u-paddingTop30">
    <h4 class="u-marginTop30 u-marginBottom30 u-fontSize22">{{t "Latest From Strife"}}</h4>
    <div class="story-feed">
        <div class="row story-feed-content">
            {{!-- Story Grid - partiasl/story/story-grid.hbs --}}
            {{#foreach posts visibility="all"}}
                <div class="col col-s12 s6 l4">
                    {{> "story/story-grid" myexcerpt='yes'}}
                </div>
            {{/foreach}}
        </div>
    </div>
</section>